<div class="container text-center border-dark">
  <div class="d-flex flex-column justify-content-end">
    <div class="text-center" *ngIf="taskList; else recuperatingTasks">
      <div *ngIf="taskList.length > 0; else noTasks">
        <div *ngFor="let task of taskList; let i = index">
          <p *ngIf="task.completed === false">
            - {{ task.title }}
            <i
              class="fas fa-check-square"
              (click)="completeTask(task.id, i)"
            ></i>
          </p>
        </div>
      </div>
      <div>
        <input type="text" id="taskInput" />
        <button type="button" (click)="addNewTask()">+</button>
      </div>
    </div>
  </div>
</div>

<ng-template #recuperatingTasks>
  <h5>Recuperating tasks...</h5>
</ng-template>

<ng-template #noTasks>
  <h4 class="mb-3">Oops, there are no tasks!</h4>
</ng-template>
